* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image:url( "../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* CONTENIDO PAGINA PRINCIPAL */

.CarImage{
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  transform: rotate3d(0,1,0,170deg)
}

.classImage{
  justify-items: center;
}

/*BOTON MODELOS*/
.btnOption {
    width: 2500px; 
    height: 980px; 
    background: #000000;
    transform: skew(10deg);
    position: absolute;
    left: 83%;
    top: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    z-index: 5;
}


/*HOVER BOTON MODELOS*/
body #content .btnOption:hover {
  position: absolute;
  left: 78%;
  top: 0;
  
}

/* DIV BOTONES(CARGA DE MODELOS) */
.derecha {

  width: 40vw;
  height: 17vh;
  transform: skew(45deg);
  background: #db0412;
  border: #ffffff 5px solid;
  border-left: #ffffff 8px solid; 
  position: absolute;
  top: 3.7%;
  right: -13%;
  z-index: 2;
  transition: all 0.4s ease-in-out;

}

/* PARAMETROS LOGO */
.logo2{
  background-color: transparent;
  WIDTH:400px;
  HEIGHT:220px;
  position: absolute;
     left: 40%;
     top: 1%;
  z-index: 2;
}


.franja{

  width: 100vw;
  height: 17vh;
  border: #ffffff 5px solid;
  position: absolute;
     top: 3.7%;
  background: #ffffff;

}




/* PARAMETROS BOTON BACK */
.backBtn {
  width: 40vw;
  height: 17vh;
  transform: skew(-45deg);
  cursor: pointer;
  background: #db0412;
  border: #ffffff 5px solid;
  border-right: #ffffff 8px solid; 
  position: absolute;
  top: 3.7%;
  left: -13%;
  z-index: 2;
  transition: all 0.4s ease-in-out;

}


/* PARAMETROS TITULO BOTON BACK */
.backBtn .titleBack{

  font-size: 450%;
  color: #ffffff;
  font: Tahoma;
  font-weight: bold;
  position: absolute;
  transform: skew(45deg);
  bottom: 28%;
  right: 20%;

}


/* PARAMETROS ANIMACION BOTON BACK */
.backBtn:hover{
  
  position: absolute;
  top: 3.7%;
  left: -10%;
  color: #ffffff;

}


/*BOTONES DE LOS MODELOS*/
/* BOTON MODELO 1 */
.modelOne{
  border: #db0412 7px solid;
  background-color: #ffffff;
  width: 900px;
  height: 250px;
  transform: skew(20deg);
  position: absolute;
  right: -26%;
  top: 30%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}


/* IMAGEN MODELO 1 */
.modelOne .img1{

  width: 400px;
  height: 200px;
  transform: rotate3d(0,1,0,170deg)  ;
  /* transform: skew(-20deg); */
  position: absolute;
  right: 40%;
  top: 2%;
  z-index: 1;

}


/* ANIMACION MODELO 1 */
.modelOne:hover{

  position: absolute;
  right: -19%;
  top: 30%;
  
}

/* BOTON MODELO 2 */
.modelTwo{
  /* border-radius: 20px; */
  border: #db0412 7px solid;
  background-color: #FFFFFF;
  width: 600px;
  height: 250px;
  transform: skew(20deg);
  position: absolute;
  right: -10%;
  top: 54.9%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

}


/* IMAGEN MODELO 2 */
.modelTwo .img2{

  width: 350px;
  height: 200px;
  transform: skew(-20deg);
  position: absolute;
  right: 5%;
  top: 0%;
  z-index: 1;

}


/* ANIMACION MODELO 2 */
.modelTwo:hover{

  position: absolute;
  right: -4.8%;
  top: 54.9%;
  
}



/* BOTON MODELO 3 */
.modelThree{
  /* border-radius: 20px; */
  background-color: #FFFFFF;
  border: #db0412 7px solid;
  width: 600px;
  height: 250px;
  transform: skew(-20deg);
  position: absolute;
  left: -9%;
  top: 30%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  
}


/* IMAGEN MODELO 3 */
.modelThree .img3{
  width: 500px;
  height: 400px;
  transform: skew(22deg);
  position: absolute;
  right: 20%;
  top: -30%;
  z-index: 1;
}


/* ANIMACION MODELO 3 */
.modelThree:hover{

  position: absolute;
  left: -3.5%;
  top: 30%;
  
}

/* BOTON MODELO 4 */
.modelFour{
  background-color: #FFFFFF;
  border: #db0412 7px solid;
  width: 600px;
  height: 250px;
  transform: skew(-20deg);
  position: absolute;
  left: -9%;
  top: 54.9%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  
}


/* IMAGEN MODELO 4 */
.modelFour .img4{
  width: 550px;
  height: 450px;
  transform: skew(20deg) scaleX(-1);
  position: absolute;
  right: 10%;
  bottom: -40%;
  z-index: 1;
}


/* ANIMACION MODELO 4 */
.modelFour:hover{
  
  position: absolute;
  left: -3.4%;
  top: 54.9%;
  
}

/*TEXTURAS*/
/* IMAGEN TEXTURA 1 */
.custom1 .tp1 {

  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  left: 35%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 2; 

}


/* ANIMACION TEXTURA 1 */
.tp1:hover{

  position: absolute;
  width: 110px; 
  height: 110px; 

}



/* IMAGEN TEXTURA 2 */
.custom2 .tp2 {

  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  left: 45%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 2; 

}


/* ANIMACION TEXTURA 2 */
.tp2:hover{

  position: absolute;
  width: 110px;
  height: 110px;

}


/* IMAGEN TEXTURA 3 */
.custom3 .tp3 {

  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  left: 55%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 2; 

}


/* ANIMACION TEXTURA 3 */
.tp3:hover{

  position: absolute;
  width: 110px;
  height: 110px;

}


